
# Better-Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 
BETTER_AUTH_SESSION_DATA_KEY=better-auth.session_data
BETTER_AUTH_SESSION_DATA_TOKEN=better-auth.session_token

# Any Postgresql Database
DATABASE_URL=

# OTP Code Expiry Time
CODE_EXPIRES_IN= 

# Resend
RESEND_API_KEY=

# Arcjet
ARCJET_KEY=


