@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #3b2a1a;

  --honey-gold: #f4a300;
  --deep-amber: #c46b00;
  --accent-gold: #ffb703;
  --soft-cream: #fff8e6;
  --dark-cocoa: #3b2a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--honey-gold);
  --color-amber: var(--deep-amber);
  --color-accent-gold: var(--accent-gold);
  --color-cream: var(--soft-cream);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.icon {
  @apply w-6 lg:w-8 h-6 lg:h-8 text-foreground;
}
