@import "tailwindcss";

:root {
  --background: #fefefe;
  --foreground: #3b2a1a;

  --honey-gold: #f4a300;
  --deep-amber: #c46b00;
  --accent-gold: #ffb703;
  --soft-cream: #fff8e6;
  --dark-cocoa: #3b2a1a;

  --honey-pattern-1: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0l25.98 15v30L30 60 4.02 45V15z' fill='%23F4A300' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--honey-gold);
  --color-amber: var(--deep-amber);
  --color-accent-gold: var(--accent-gold);
  --color-cream: var(--soft-cream);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --bg-honey-pattern: var(--honey-pattern-1);
}

@layer utilities {
  .bg-honey-pattern {
    background-image: var(--bg-honey-pattern);
    background-repeat: repeat;
    background-size: 60px 60px;
  }

  .promise::before {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background: linear-gradient(
      to right,
      var(--color-gold) 25%,
      var(--color-amber) 75%
    );
  }

  .list {
  }

  .list li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transform: translateX(3px);
  }

  .list li::before {
    content: "";
    display: block;
    padding: 4.5px;
    border-radius: 50%;
    background-color: var(--color-gold);
  }

  .gradient-to-br {
    background: linear-gradient(
      to bottom right,
      var(--color-gold) 25%,
      var(--color-amber) 75%
    );
  }

  .testimonial::before {
    content: '"';
    font-size: 2rem;
    display: block;
    color: var(--color-foreground);
  }

  /* .testimonial span::after {
    align-self: flex-end;
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
}

.section-max-w {
  @apply max-w-xl sm:max-w-2xl md:max-w-3xl lg:max-w-6xl xl:max-w-7xl;
}

.icon-lg2 {
  @apply size-11 lg:size-13;
}

.icon-lg {
  @apply size-7 lg:size-8;
}

.icon {
  @apply size-6 lg:size-7;
}

.icon2 {
  @apply size-4 lg:size-6;
}

.icon3 {
  @apply size-4 lg:size-5;
}

.title-font {
  @apply font-heading leading-tight;
}

.title-one {
  @apply text-3xl sm:text-4xl lg:text-5xl;
}

.title-two {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

.title-three {
  @apply text-xl sm:text-2xl md:text-3xl;
}

.title-four {
  @apply text-lg sm:text-xl;
}

.subtitle-one {
  @apply text-lg md:text-xl lg:text-2xl;
}

.subtitle-two {
  @apply text-lg md:text-xl;
}

.cta-btn-p {
  @apply px-4 py-2 lg:px-6 lg:py-3;
}

.cta-btn-text {
  @apply text-sm sm:text-base lg:text-lg;
}

.cta-btn2-text {
  @apply text-sm sm:text-sm md:text-base;
}

.section-py-one {
  @apply py-16 md:py-20 lg:py-24;
}

.section-px-one {
  @apply px-4 sm:px-6 md:px-8;
}

.bg-honey-pattern1 {
  @apply bg-[var(--honey-pattern)] bg-repeat bg-size-["60px"];
}
